numpy
torch
pytest
cached_property
pysoundfile
# git+git://github.com/fgnt/paderbox#egg=paderbox
# git+git://github.com/fgnt/padertorch#egg=padertorch

# These are requirements for paderbox and padertorch
Cython
